

#display{display:none;}

/*
	that's the "main" segment code,
	now here's the "individual" segment code:
*/


	start of display;
*/
	
#display_tc{display:none;}
#display_mc{display:none;}
#display_fz{display:none;}
#display_ks{display:none;}
#display_ls{display:none;}


/*
	end of display;



	
/*
	#{display:none;}
	#{display:none;}
	#{display:none;}
*/
