

#display{display:none;}

/*
	that's the "main" segment code,
	now here's the "individual" segment code:
*/

/*
	start of display;
*/
	
#display_mon1{display:none;}
#display_mon2{display:none;}
#display_mon3{display:none;}
#display_mon4{display:none;}
#display_mon5{display:none;}
#display_mon6{display:none;}
#display_mon7{display:none;}
#display_mon8{display:none;}
#display_mon9{display:none;}
#display_mon10{display:none;}



/*
	end of display;



	
/*
	#{display:none;}
	#{display:none;}
	#{display:none;}
*/
